 p{
    margin-top:0;
    margin-bottom: 0;
  }
  .price{
    font-size: 32px;
    margin-bottom: 8px;
  }

  .currency{
    color: rgb(77, 75, 75);
    font-size: 16px;

  }
  .change{
    color: rgb(89, 165, 13);
        margin-bottom: 6px;
    
  }
  .after-hour{
     color: rgb(77, 75, 75);

  }

  .after-hour-change{
    color: brown;
  }