    .link {
    color:  rgb(6, 143, 6);
    }

    .link:hover {
        color: red;
        transition: color 0.16s;
    }

    .description {
        font-size: 20px;
        font-weight: bold;
    }

    .price {
        color: rgb(6, 143, 6);
        font-weight: bold;
        
    }

    .add-to-cart {
        background-color: rgb(251, 213, 26);
        margin-right: 6px;
         font-weight: bold;
        border-radius: 20px;
        height: 28px;
        width: 120px;
        border: none;
         cursor: pointer;
         transition:background-color 0.17s;
    }

    .buy-now {
        background-color: rgb(236, 159, 26);
        font-weight: bold;
        border-radius: 20px;
        height: 28px;
        width: 120px;
        border: none;
         cursor: pointer;
         transition:background-color 0.17s;
    }

    .buy-now:hover{
background-color:  rgb(219, 148, 25);
    }
        .buy-now:active{
opacity: 0.6;
        }

        .add-to-cart:hover {
 background-color: rgb(233, 196, 14);
        }
.add-to-cart:active {
opacity: 0.6;
}
