  .back{
    margin-right: 8px;
  }
  .next{

  }
  .pagination1{
margin-right: 3px;
  }
    .pagination2{
margin-right: 3px;
    }
      .pagination3{
margin-right: 3px;
      }
        .pagination4{
 margin-right: 8px;
        }